.jumbotron {
    background-image: url("https://s3-us-west-1.amazonaws.com/lookingtotomorrow/mountain-sunrise-sun-sky-cloud-tree-rock-forest.jpg");
  color: white;
  
}
#mainNav{
    background: linear-gradient(to right,#007BFF , rgb(0, 180, 255));
}